<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sharding.mapper.OrderMapper">

	<insert id="insert" useGeneratedKeys="true"
		keyProperty="orderId">
		INSERT
		INTO t_order (
		order_id,user_id, status
		)
		VALUES (
		#{orderId},
		#{userId,jdbcType=INTEGER},
		#{status,jdbcType=VARCHAR}
		)
	</insert>
</mapper>